# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.iws
.metadata

# OS
.DS_Store
Thumbs.db

# Generated l10n
lib/l10n/generated/
lib/generated/

# Native
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/key.properties
